


body {
   background-color: #black;
   font-family:'Montserrat', sans-serif;
   color: black;
   padding: 0;
   margin: auto;
   width: 80%;
   max-width: 700%;
   text-align: center;

 }
.Fig {
  color: #A6A6A6
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 1em 0;
 }

 ul li {
     margin: 10px;
     }

/*---------NAVIGATION --------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #0C0409;
    padding: .5em 0;
    font-size: 1.12em;
    display: flex;
   justify-content:space-around;
   list-style: none;

}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:link {
    color: #F9F9F9;
}

nav a:visited {
    color: #F9F9F9;
}

nav a:hover {
    border-bottom: none;
    color: #BF0404;

}


a {color: black; text-decoration: none;}
a:hover {color: #black}

img .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

   }


.degenerate-art {
  height: 350px;
  width: 500px;
  float: none;

}

.piet-mondrain {

height: 400px;
width: 400px;
float: none;

}

.mondrian-portrait {

  height: 400px;
  width: 550px;
  float: none;


}

.boogiewoogie {

  height: 390px;
  width: 390px;
  float: none;
}

.moholy-one  {
  height: 390px;
  width: 390px;
  float: none;

}
.josef-albers {
  height: 390px;
  width: 390px;
  float: none;



}


h1, h2, h3, {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  text-align: center;
}


h2 { font-size: 2.441em; border-bottom: 1px solid #0C0409; display: inline;
     text-align: left;
      }
.history { color: #F2E205 }

.start { color: #0A2D73 }
.piet { color:#BF0404 }
.others { color: #0A2D73 }
.conclusion { color:#F2E205 }

h3 {font-size: 1.953em;
     text-align:center;}

h4 {font-size: 1.563em;
   text-align: center;}

h5 {font-size: 0.9em;
    text-align: center;
    color: #8D8D8D;}

.text_small {font-size: 0.8em; font-weight: lighter;
             font-family: 'Montserrat', sans-serif;}

p {
    line-height: 1.75;
    margin-bottom: 1.25em;
    font-style: 'Montserrat', sans-serif;
    text-align: center;

  }

.larger {font-size: 50px;
         color: #black;
         line-height: 1;
         text-align: center;


         }


blockquote {
  border-left: 20px solid #FFF200;
  margin: 3.0em 60px;
  padding: 0.5em 20px;

}
blockquote:before {
  color: #ccc;
  font-size: 10em;
  line-height: 1em;
  margin-right: 3em;
  vertical-align: -0.4em;
  font-style: italic;
}
blockquote p {
  display: inline;
}



.container {
        background-color: grey;
        padding: 2em;
        max-height: 100%;
  }

.intro {
    max-width: 200%;
    height: 600px;
    padding-top: 100px;
    background-size: cover;
    padding: 1em;

}
main {
   padding: 6.5em;
   margin: 6.5em;
}

main p {
    width: 50vw;
    text-align: left;
     }

.bibliography {
  text-align: center;
  color: #BF0404;
}
.info { text-align: left;}

footer {
padding: 0;
width: 100%;
margin: left;

}


footer ul li {
    list-style: none;}

footer a {color: #black; text-decoration: none;}
footer a:hover {color:white; text-decoration:  none;}

}
